head {
    font-size: 0%;
    color: #efe597;
    font-family: "secular one", "manrope", "consolas", sans-serif;
}
body {
  background-color:#efe597;
  margin: 40px
}
h1 {
  color: #458833;
  font-family: "secular one", "manrope", "consolas", sans-serif;
  font-size: 45px;
  text-align: center;
  

}
a:link {
    color: #458833;
    font-family: "manrope", "consolas", sans-serif;
    font-size: 30px;
    font-style: italic;
    
}
a:visited {
    color:#458833;
    justify-content: center;

}
.container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.container2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position: relative
}
h3 {
    color: #458833;
    font-family: "manrope", "consolas", sans-serif;  
}
p {
    color: black;
    font-family: "manrope", "consolas", sans-serif;
}
li {
    color: black;
    font-family: "manrope", "consolas", sans-serif;
}
#box {
    width: fit-content;
    height:fit-content;
    border: 3px solid green;
    padding: 20px;

}
#box:hover {
box-shadow: 0px 0px 10px #458833;
}